In [28]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression, LinearRegression

pd.set_option("display.max_columns", 100)

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
import itertools
sns.set()

plt.style.use('ggplot')

In [29]:
df = pd.read_csv('data/net_data_1718.csv')
df = df.drop(df.columns[0], axis=1)

df1 = pd.read_csv('data/reg_games_stats_2018.csv')

df

,type,game_id,home_team,away_team,week,season,state_of_game,game_url,home_score,away_score,h_win,a_win,h_totfd,a_totfd,h_totyds,a_totyds,h_pyds,a_pyds,h_ryds,a_ryds,h_pen,a_pen,h_penyds,a_penyds,h_trnovr,a_trnovr,h_pt,a_pt,h_ptyds,a_ptyds,h_ptavg,a_ptavg,h_top,a_top,net_win,net_totfd,net_totyds,net_pyds,net_ryds,net_pen,net_penyds,net_trnovr,net_pt,net_ptyds,net_ptavg,net_top
0,reg,2017090700,NE,KC,1,2017,POST,http://www.nfl.com/liveupdate/game-center/2017...,27,42,0,1,25,26,371,537,247,352,124,185,6,15,55,139,0,1,6,6,242,262,39,42,29.766667,30.233333,-1,-1,-166,-105,-61,-9,-84,-1,0,-20,-3,-0.466667
1,reg,2017091000,BUF,NYJ,1,2017,POST,http://www.nfl.com/liveupdate/game-center/2017...,21,12,1,0,23,11,408,214,218,176,190,38,6,5,50,62,1,2,6,6,257,297,35,44,33.066667,26.933333,1,12,194,42,152,1,-12,-1,0,-40,-9,6.133333
2,reg,2017091008,WAS,PHI,1,2017,POST,http://www.nfl.com/liveupdate/game-center/2017...,17,30,0,1,16,19,264,356,200,298,64,58,2,8,15,76,4,2,4,4,162,170,41,42,25.733333,34.266667,-1,-3,-92,-98,6,-6,-61,2,0,-8,-1,-8.533333
3,reg,2017091007,TEN,OAK,1,2017,POST,http://www.nfl.com/liveupdate/game-center/2017...,16,26,0,1,21,22,350,359,255,250,95,109,5,5,49,49,0,0,4,3,188,158,41,44,28.350000,31.650000,-1,-1,-9,5,-14,0,0,0,1,30,-3,-3.300000
4,reg,2017091005,HOU,JAX,1,2017,POST,http://www.nfl.com/liveupdate/game-center/2017...,7,29,0,1,23,19,203,280,110,125,93,155,9,10,94,89,4,0,5,4,216,187,42,37,29.916667,30.083333,-1,4,-77,-15,-62,-1,5,4,1,29,5,-0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,reg,2018123000,BAL,CLE,17,2018,POST,http://www.nfl.com/liveupdate/game-center/2018...,26,24,1,0,24,18,463,426,167,376,296,50,10,4,65,35,1,3,4,4,196,180,38,40,38.500000,21.500000,1,6,37,-209,246,6,30,-2,0,16,-2,17.000000
508,reg,2018123014,LA,SF,17,2018,POST,http://www.nfl.com/liveupdate/game-center/2018...,48,32,1,0,28,22,377,391,222,264,155,127,6,5,57,41,0,4,3,2,130,99,43,44,31.833333,28.166667,1,6,-14,-42,28,1,16,-4,1,31,-1,3.666667
509,reg,2018123009,PIT,CIN,17,2018,POST,http://www.nfl.com/liveupdate/game-center/2018...,16,13,1,0,18,9,343,196,278,71,65,125,9,9,70,85,1,0,5,6,189,278,38,43,34.366667,25.633333,1,9,147,207,-60,0,-15,1,-1,-89,-5,8.733333
510,reg,2018123015,SEA,ARI,17,2018,POST,http://www.nfl.com/liveupdate/game-center/2018...,27,24,1,0,16,12,291,198,109,113,182,85,1,3,10,20,1,2,8,5,330,247,27,45,29.150000,30.850000,1,4,93,-4,97,-2,-10,-1,3,83,-18,-1.700000
511,reg,2018123011,TEN,IND,17,2018,POST,http://www.nfl.com/liveupdate/game-center/2018...,17,33,0,1,11,24,258,436,165,278,93,158,9,12,75,96,3,2,6,4,272,191,45,45,19.783333,40.216667,-1,-13,-178,-113,-65,-3,-21,1,2,81,0,-20.433333

In [30]:

df1 = df1.drop(df1.columns[0], axis=1)
df1 = df1.drop(df1.columns[6:7], axis=1)
df1 = df1.drop(df1.columns[10:], axis=1)
df1

,type,game_id,home_team,away_team,week,season,game_url,home_score,away_score,h_win
0,reg,2018090600,PHI,ATL,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,18,12,1
1,reg,2018090900,BAL,BUF,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,47,3,1
2,reg,2018090907,NYG,JAX,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,15,20,0
3,reg,2018090906,NO,TB,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,40,48,0
4,reg,2018090905,NE,HOU,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,27,20,1
...,...,...,...,...,...,...,...,...,...,...
251,reg,2018123000,BAL,CLE,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,26,24,1
252,reg,2018123014,LA,SF,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,48,32,1
253,reg,2018123009,PIT,CIN,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,16,13,1
254,reg,2018123015,SEA,ARI,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,27,24,1
255,reg,2018123011,TEN,IND,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,17,33,0

In [31]:
home_teams = df.groupby(['home_team', 'game_id', 'week', 'home_score', 'h_win', 'net_totfd', 'net_totyds', 'net_pyds', 'net_ryds', 'net_pen', 'net_penyds', 'net_trnovr', 'net_pt', 'net_ptyds', 'net_ptavg', 'net_top']).count()
home_teams = home_teams.reset_index(drop=False)
home_teams = home_teams.sort_values(by=['home_team', 'game_id'])
home_teams = home_teams.rename(columns={"home_team": "team", "home_score": "score", 'net_totfd': 'totfd', 'net_totyds': 'totyds', 'net_pyds': 'pyds', 'net_ryds': 'ryds', 'net_pen': 'pen', 'net_penyds': 'penyds', 'net_trnovr': 'trnover', 'net_pt': 'pt', 'net_ptyds': 'ptyds', 'net_ptavg': 'ptavg', 'net_top': 'top'})
home_teams = home_teams.drop(home_teams.columns[16:], axis =1)
# home_teams = home_teams.drop(df.columns[11:35], axis=1)
# home_teams = home_teams.drop(df.columns[[0, 3, 5, 6, 7, 9]], axis =1)
# home_teams = home_teams.drop(df.columns[3], axis =1)
# home_teams = home_teams.drop(df.columns[5:6], axis =1)


home_teams

,team,game_id,week,score,h_win,totfd,totyds,pyds,ryds,pen,penyds,trnover,pt,ptyds,ptavg,top
0,ARI,2017092500,3,17,0,7,59,109,-50,-3,-26,0,-1,-40,-6,12.500000
1,ARI,2017100109,4,18,1,5,63,107,-44,-3,-33,0,-1,-58,-6,3.033333
2,ARI,2017101507,6,38,1,2,18,-74,92,-2,12,0,-2,-61,3,4.766667
3,ARI,2017110900,10,16,0,10,3,44,-41,-3,-50,1,-3,-168,-4,-1.766667
4,ARI,2017112609,12,27,1,1,125,108,17,5,53,-1,-2,-122,0,9.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,WAS,2018102110,7,20,1,-2,-18,-75,57,-3,-30,-2,1,19,-1,1.833333
508,WAS,2018110406,9,14,0,-5,-125,-50,-75,3,97,0,3,142,-4,-5.866667
509,WAS,2018111806,11,21,0,4,-42,-27,-15,-1,3,-1,4,172,7,1.900000
510,WAS,2018120908,14,16,0,-7,-114,29,-143,13,117,2,2,151,2,-0.300000
511,WAS,2018123012,17,0,0,-17,-271,-163,-108,-3,-10,0,2,101,10,-26.633333

In [32]:
away_teams = df.groupby(['away_team', 'game_id', 'week', 'away_score', 'h_win', 'net_totfd', 'net_totyds', 'net_pyds', 'net_ryds', 'net_pen', 'net_penyds', 'net_trnovr', 'net_pt', 'net_ptyds', 'net_ptavg', 'net_top']).count()
away_teams = away_teams.reset_index(drop=False)
away_teams = away_teams.sort_values(by=['away_team', 'game_id'])
away_teams = away_teams.rename(columns={"away_team": "team", "away_score": "score", 'net_totfd': 'totfd', 'net_totyds': 'totyds', 'net_pyds': 'pyds', 'net_ryds': 'ryds', 'net_pen': 'pen', 'net_penyds': 'penyds', 'net_trnovr': 'trnover', 'net_pt': 'pt', 'net_ptyds': 'ptyds', 'net_ptavg': 'ptavg', 'net_top': 'top'})
away_teams = away_teams.drop(away_teams.columns[16:], axis=1)

# away_teams = away_teams.drop(df.columns[[0, 2, 5, 6, 7, 8]], axis =1)
# # home_teams = home_teams.drop(df.columns[3], axis =1)
# # home_teams = home_teams.drop(df.columns[5:6], axis =1)
# away_teams = away_teams.sort_values(by=['away_team', 'game_id'])
# away_teams = away_teams.rename(columns={"away_team": "team", "away_score": "score"})
away_teams

,team,game_id,week,score,h_win,totfd,totyds,pyds,ryds,pen,penyds,trnover,pt,ptyds,ptavg,top
0,ARI,2017091004,1,23,1,-5,58,21,37,4,45,-3,1,5,4,6.666667
1,ARI,2017091702,2,16,0,1,-123,-116,-7,2,29,0,2,71,0,4.333333
2,ARI,2017100806,5,7,1,3,112,21,91,-2,-1,0,-4,-218,7,11.566667
3,ARI,2017102205,7,0,1,18,232,60,172,-4,-20,-1,-4,-144,23,18.033333
4,ARI,2017110507,9,20,0,-3,-39,65,-104,6,28,0,2,82,-1,-12.733333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,WAS,2018111107,10,16,0,14,215,228,-13,-3,-2,4,-4,-203,-24,2.400000
508,WAS,2018112201,12,23,1,2,73,7,66,0,5,-3,1,59,-5,6.766667
509,WAS,2018120300,13,13,1,18,201,175,26,-5,-31,0,-4,-197,1,18.633333
510,WAS,2018121606,15,16,0,-5,-53,-116,63,2,7,2,-1,-17,17,-6.200000
511,WAS,2018122200,16,16,1,3,-1,61,-62,-6,-39,-2,2,62,-4,-6.100000

In [33]:
frames = [home_teams, away_teams]
all_teams = pd.concat(frames)
all_teams = all_teams.sort_values(by=['team', 'game_id']).reset_index()
all_teams = all_teams.drop(all_teams.columns[0], axis=1)
all_teams

,team,game_id,week,score,h_win,totfd,totyds,pyds,ryds,pen,penyds,trnover,pt,ptyds,ptavg,top
0,ARI,2017091004,1,23,1,-5,58,21,37,4,45,-3,1,5,4,6.666667
1,ARI,2017091702,2,16,0,1,-123,-116,-7,2,29,0,2,71,0,4.333333
2,ARI,2017092500,3,17,0,7,59,109,-50,-3,-26,0,-1,-40,-6,12.500000
3,ARI,2017100109,4,18,1,5,63,107,-44,-3,-33,0,-1,-58,-6,3.033333
4,ARI,2017100806,5,7,1,3,112,21,91,-2,-1,0,-4,-218,7,11.566667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,WAS,2018120300,13,13,1,18,201,175,26,-5,-31,0,-4,-197,1,18.633333
1020,WAS,2018120908,14,16,0,-7,-114,29,-143,13,117,2,2,151,2,-0.300000
1021,WAS,2018121606,15,16,0,-5,-53,-116,63,2,7,2,-1,-17,17,-6.200000
1022,WAS,2018122200,16,16,1,3,-1,61,-62,-6,-39,-2,2,62,-4,-6.100000
1023,WAS,2018123012,17,0,0,-17,-271,-163,-108,-3,-10,0,2,101,10,-26.633333

In [36]:
phi = all_teams[all_teams['team'] == 'PHI']


end_index = phi[phi['game_id'] == 2018090600].index
start_index = end_index - 6




df_period = phi[(phi.index >= start_index[0]) & (phi.index < end_index[0])]

df_period
df_agg = df_period.agg("mean").to_frame().transpose()

df_agg
df_agg = df_agg.drop(df_agg.columns[[0, 1, 3]], axis =1)
df_agg['h_team'] = phi['team'].unique()[0]
df_agg = df_agg.set_index('h_team')
# df_agg = df_agg.rename(columns={df_agg.columns[i]: 'h_'+ df_agg.columns[i] for i in range(len(df_agg.columns))})
df_agg

## TODO:
# rename columns, integrate away team, find nets
# integrate this with week by weekn

,score,totfd,totyds,pyds,ryds,pen,penyds,trnover,pt,ptyds,ptavg,top
h_team,,,,,,,,,,,,
PHI,22.833333,-0.166667,6.666667,8.0,-1.333333,-0.666667,8.166667,-0.166667,0.0,1.5,1.5,-3.094444

In [24]:
def last_n_weeks(h_team, a_team, n, game_id):
    ## getting dataframes for home and away team
    h_df = all_teams[all_teams['team'] == h_team]
    a_df = all_teams[all_teams['team'] == a_team]
    
    ## specifying the index for the last n games
    h_end_index = h_df[h_df['game_id'] == game_id].index
    h_start_index = h_end_index - n
    a_end_index = a_df[a_df['game_id'] == game_id].index
    a_start_index = a_end_index - n
    
    ## creating dataframes for the last n games for home and away
    h_period_df = h_df[(h_df.index >= h_start_index[0]) & (h_df.index < h_end_index[0])]
    a_period_df = a_df[(a_df.index >= a_start_index[0]) & (a_df.index < a_end_index[0])]
    
    ## creating a one row df for home and away -> the mean of each stat
    h_agg_df = h_period_df.agg("mean").to_frame().transpose()
    a_agg_df = a_period_df.agg("mean").to_frame().transpose()
    
    ## cleaning the aggregate frames
    h_agg_df = h_agg_df.drop(h_agg_df.columns[[0, 1, 3]], axis =1)
    a_agg_df = a_agg_df.drop(a_agg_df.columns[[0, 1, 3]], axis =1)
    
    h_agg_df['h_team'] = h_df['team'].unique()[0]
    a_agg_df['a_team'] = a_df['team'].unique()[0]
    
    h_agg_df = h_agg_df.set_index('h_team')
    a_agg_df = a_agg_df.set_index('a_team')
    
    h_agg_df = h_agg_df.rename(columns={h_agg_df.columns[i]: 'h_'+ h_agg_df.columns[i] for i in range(len(h_agg_df.columns))})
    a_agg_df = a_agg_df.rename(columns={a_agg_df.columns[i]: 'a_'+ a_agg_df.columns[i] for i in range(len(h_agg_df.columns))})
    
    h_agg_df = h_agg_df.reset_index()
    a_agg_df = a_agg_df.reset_index()
    
    game_agg_df = h_agg_df.join(a_agg_df)
    for i in range(1, 13):
        game_agg_df['lastN_net_' + game_agg_df.columns[i].replace('h_', '')] = game_agg_df.iloc[:, i] - game_agg_df.iloc[:, i+13]
    return game_agg_df

In [25]:
df1

,type,game_id,home_team,away_team,week,season,game_url,home_score,away_score,h_win
0,reg,2018090600,PHI,ATL,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,18,12,1
1,reg,2018090900,BAL,BUF,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,47,3,1
2,reg,2018090907,NYG,JAX,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,15,20,0
3,reg,2018090906,NO,TB,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,40,48,0
4,reg,2018090905,NE,HOU,1,2018,http://www.nfl.com/liveupdate/game-center/2018...,27,20,1
...,...,...,...,...,...,...,...,...,...,...
251,reg,2018123000,BAL,CLE,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,26,24,1
252,reg,2018123014,LA,SF,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,48,32,1
253,reg,2018123009,PIT,CIN,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,16,13,1
254,reg,2018123015,SEA,ARI,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,27,24,1
255,reg,2018123011,TEN,IND,17,2018,http://www.nfl.com/liveupdate/game-center/2018...,17,33,0

In [38]:
game_df = last_n_weeks(df1.home_team[0], df1.away_team[0], 6, df1.game_id[0])
game_df

,h_team,h_score,h_totfd,h_totyds,h_pyds,h_ryds,h_pen,h_penyds,h_trnover,h_pt,h_ptyds,h_ptavg,h_top,a_team,a_score,a_totfd,a_totyds,a_pyds,a_ryds,a_pen,a_penyds,a_trnover,a_pt,a_ptyds,a_ptavg,a_top,lastN_net_score,lastN_net_totfd,lastN_net_totyds,lastN_net_pyds,lastN_net_ryds,lastN_net_pen,lastN_net_penyds,lastN_net_trnover,lastN_net_pt,lastN_net_ptyds,lastN_net_ptavg,lastN_net_top
0,PHI,22.833333,-0.166667,6.666667,8.0,-1.333333,-0.666667,8.166667,-0.166667,0.0,1.5,1.5,-3.094444,ATL,20.333333,0.0,35.5,34.166667,1.333333,-1.333333,-10.666667,0.0,-1.0,-40.166667,0.0,2.0,2.5,-0.166667,-28.833333,-26.166667,-2.666667,0.666667,18.833333,-0.166667,1.0,41.666667,1.5,-5.094444

In [203]:
game_df.loc[:,'lastN_net_totfd'][0]

0.16666666666666785

In [200]:
df1

    type     game_id home_team away_team  week  season
0    reg  2018090600       PHI       ATL     1    2018
1    reg  2018090900       BAL       BUF     1    2018
2    reg  2018090907       NYG       JAX     1    2018
3    reg  2018090906        NO        TB     1    2018
4    reg  2018090905        NE       HOU     1    2018
..   ...         ...       ...       ...   ...     ...
251  reg  2018123000       BAL       CLE    17    2018
252  reg  2018123014        LA        SF    17    2018
253  reg  2018123009       PIT       CIN    17    2018
254  reg  2018123015       SEA       ARI    17    2018
255  reg  2018123011       TEN       IND    17    2018

[256 rows x 6 columns]